
#container-card-os{
    display: flex;
    gap:1rem;
    padding: 1rem;
    text-decoration: none;
    margin:0.5rem;
    color: var(--btn-text-background-color);
    background-color: var(--btn-background-color);
    border-radius: var(--border-radius);
    border-color: var(--btn-border-color);
    color: var(--btn-text-background-color);
    border-style: solid;
    border-width: 0.1rem;
}

#container-card-os svg{
    fill: var(--btn-text-background-color);
    width: 4rem;
}

#container-card-os:hover{
    background-color: var(--destaque-color);
}