:root {
    /*Variáveis do Sistema*/
    --background-color: #F5F5F5;
    --header-color: #e4002b;
    --cards-background: #FFFFFF;
    --text-color: #212121;
    --destaque-color: #ff3838;
    --pattern-background: url(/src/assets/pattern-black.webp);
    --box-shadow: rgba(0, 0, 0, 0.125);
    

    /*Variáveis de Formulários*/
    --btn-background-color: #fefcf4;
    --btn-text-background-color: #212121;
    --btn-border-color: #E0E0E0;
    --border-radius:1rem;
    --color-text-info:#3c3c3c;

    /*Escala de Textos*/
    --header-1: 1.7rem;
    --header-2: 1.5rem;
    --header-3: 1.4rem;
    --paragraph: 0.9rem;
    --paragraph-info: 0.8rem;

}

/* Tema Escuro (ativado pela classe no body) */
body.dark-theme {
    /*Variáveis do Sistema*/
    --background-color: #121212;
    --header-color: #1E1E1E;
    --cards-background: #252525;
    --text-color: #FFFFFF;
    --destaque-color: #C62828;
    --pattern-background: url(/src/assets/pattern-white.webp);
    --box-shadow: rgba(255, 255, 255, 0.064);
    
    /*Variáveis de Formulários*/
    --btn-background-color: #191919;
    --btn-text-background-color: #F5F5F5;
    --btn-border-color: #212121;
    --color-text-info:#b0b0b0;
}




@font-face {
    font-family: 'Urbanist';
    /* Nome que você vai usar no CSS */
    src: url('assets/Urbanist-VariableFont_wght.ttf');
    /* Caminho do arquivo */
    font-weight: normal;
    font-style: normal;
}



body {
    margin: 0;
    font-family: 'Urbanist';
    background-color: var(--background-color);
    background-image: var(--pattern-background);
    background-position: center;
    background-attachment: fixed;
    background-size: 4rem;
    
}